[Unit]
Description=Switcher for Sonm/Hive internal mining
After=sonm-worker.service

[Service]
Type=simple
ExecStart=/usr/bin/sonm-standby
Restart=always
