[Unit]
Description=Generate XOrg config to enable fan control on Nvidia cards (launch before hivex.service)
Before=hivex.service

[Service]
Type=oneshot
ExecStart=/usr/bin/sonm-xorg-config

[Install]
WantedBy=hivex.service
